.footer {
  background-color: var(--grey);
  padding: 25px 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__img {
    width: 135px;
    & img {
      width: 100%;
      -webkit-filter: grayscale(100%) brightness(100);
      filter: grayscale(100%) brightness(100);
    }
  }

  &__menu {
    width: 100%;
    & ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      list-style: none;
      gap: 10px;

      & li {
        font-weight: 300;
        font-size: 1rem;
      }

      & li span {
        font-size: 0.8rem;
        padding-right: 5px;
      }

      & .bold {
        font-weight: 500;
      }

      & li a {
        text-decoration: none;
        color: var(--light-grey);
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 0px 15px;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 30px;
    width: 100%;

    &__menu {
      margin-top: 30px;
      width: 100%;

      & ul {
        padding-top: 30px;
        width: 100%;
        flex-direction: row;
        justify-content: flex-end;

        & .bold:not(:first-child) {
          margin-right: 30px;
        }
      }
    }

    &__img {
      margin-top: 30px;
      padding: 30px 15px;
      width: 135px;
      & img {
        width: 100%;
      }
    }
  }
}
