:root {
    --green: #99E2D0;
    --dark-green: #008766;
    --blue-sky: #89C8FA;
    --dark-blue: #003A68;
    --purple: #9356DC;
    --grey: #353535;
    --grey-icons: #7E7E7E;
    --light-grey: #EAEAEA;
    --bk: #F6F6F6;
    --gradientCta: linear-gradient(#FF79DA, #9356DC);
    --gradientCtaHover: linear-gradient(#E685E0, #AE73E0);
}
