.like {
  position: relative;
  padding-right: 15px;
  cursor: pointer;
  font-size: 24px;

  .likeFill {
    display: none;
  }

  &:hover .likeEmpty {
    display: none;
  }

  &:hover .likeFill {
    display: block;
    background: -webkit-linear-gradient(#ff79da, #9356dc);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .likeEmpty .fa-regular {
    color: black;
  }
}