.like {
  position: relative;
  padding-right: 30px;

  .hidden-checkbox,
  .fa-solid {
    display: none;
  }

  .fa-regular {
    color: black;
  }

  label {
    position: relative;
    font-size: 24px;
    cursor: pointer;

    .fa-regular {
      transition: color 0.3s;
    }
  }

  .hidden-checkbox:checked + label .fa-regular {
    color: transparent;
    display: none;
  }

  .hidden-checkbox:checked + label .fa-solid {
    display: block;
    background: -webkit-linear-gradient(#ff79da, #9356dc);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
