.container {
  width: 100%;

  .header {
    .header__top {
      & a {
        border-style: none;
        text-decoration: none;
        color: black;
        position: absolute;
        left: 5%;

        & span .arrow {
          font-size: 1.5rem;
          font-weight: bold;
        }
      }
    }
  }

  .section {
    @include sections();
  }

  .menu-plats {
    position: relative;
    display: flex;
    flex-direction: column;

    @extend .menu-plats;
  }

  & .footer {
    @extend .footer;
  }
}
