@import './base/normalize/import-now';
@import './utils/mixins.scss';
@import './base/typography.scss';
@import './layout/header.scss';
@import './layout/footer.scss';
@import './components/like.scss';
@import './pages/home.scss';
@import './pages/menu.scss';
@import './components/cardPlat.scss';
@import './utils/variables.scss';
@import './components/cardPresentation.scss';
@import './components/cardRestaurant.scss';
@import './components/loader.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: auto;
    overflow-y: auto;

}

body {
    position: relative;
}